.Main-Container {
    color: white;
}


.Home-s1 {

     width: 100vw;
     margin-top: 10vh;
     margin-bottom: 7vh;

    display: flex;
    flex-direction: column; 
    align-items: center; 
}
.Home-s1 h1{
    font-size: 64px;
    font-weight: 1000;
    margin-bottom: 20px;
}
.Home-s1-p1 {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    background-color: white; 
    color: #467be6;

}


.line {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.5s, transform 0.5s;
    position: absolute;
}

.line.visible {
    opacity: 1;
    transform: translateY(0);
}

.line.hidden {
    opacity: 0;
    transform: translateY(-10px);
}

.Home-s1-p2 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    font-size: 1.2rem;
    line-height: 1.6; 
    font-weight: 400;
    max-width: 770px; 
    height: auto;
    line-height: 1.6; 
    margin-top: 39px;

}

.Home-s1-p3 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 2%;
}
.Home-s1-p3-section {
    display: flex;
    justify-content: center; 
    align-items: center; 
}




.Home-s1-p3-section {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 2px; 
    /* border: 2px solid #4caf50;  */
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    max-width: 500px;
    margin: 20px auto;
    font-size: 1rem; 
    color: #333;
}



.Home-s1-p3-section p {
    font-weight: bold;

}
.Home-s1-p3 p{
    margin: 0 30px 0 10px;
    font-weight: 600;
    font-size: 18px;
    color: #6E727E;

}


@media (max-width: 1024px) {
    .Home-s1 h1 {
        font-size: 50px; 
    }

    .Home-s1-p2 {
        font-size: 1rem; 
        margin-top: 10vh; 
    }

    .Home-s1-p3-section {
        max-width: 400px; 
        font-size: 0.9rem; 
    }
}

@media (max-width: 768px) {
    .Home-s1 {
        margin-top: 5vh;
    }

    .Home-s1 h1 {
        font-size: 40px;
    }

    .Home-s1-p2 {
        font-size: 0.9rem; 
        margin-top: 8vh; 
    }
    .professional-image{
        max-width: 70%;
    }

    .Home-s1-p3-section {
        flex-direction: column; 
        max-width: 90%; 
        font-size: 0.9rem;
        margin-top: 15px; 
    }

    .Home-s1-p3-section p {
        font-size: 0.9rem; 
    }
}

@media (max-width: 480px) {
    .Home-s1 {
        margin-top: 3vh;
        margin-bottom: 0;
    }

    .Home-s1 h1 {
        font-size: 20px; 
        margin-bottom: 1vh;
    }

    .Home-s1-p2 {
        font-size: 0.7rem; 
        margin-top: 5vh; 
        max-width: 40vh;
    }
    .professional-image{
        max-width: 50%;
    }
    .Home-s1-p3{
        max-width: 40vh;
        display: flex;
        flex-direction: column; 
        align-items: center; 
        gap: 10px
    }
    .Home-s1-p3 img{
        max-width: 30%;
        margin-top: 30px;
    }
    .Home-s1-p3 p{
        font-size: 10px;
    }
    .Home-s1-p3-section p{
        font-size: 2px;
    }

    .Home-s1-p3-section {
        max-width: 100%;
        padding: 10px; 
        text-align: center; 
        display: flex; 
        flex-direction: row; 
        align-items: center; 
        justify-content: center; 
        gap: 8px;
    }

    .Home-s1-p3-section p {
        font-size: 0.5rem; 
    }
    .Home-s1-p3-section img {
        width: 54px; 
        height: auto;
    }
}