.project-page {
    text-align: center;
    padding: 20px;
    margin-top: 22vh;
  }

  .project-page p{
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    font-size: 1.2rem;
    line-height: 1.6; 
    font-weight: 200;
  }
  
  .project-header {
    font-size: 2.25rem;
    margin-bottom: 3px;
    color: #333;    
  }
  .highlight {
    color: #0E5AED;
  }
  
  .project-page p{
    font-size: 1.5rem;
    margin-bottom: 40px;
    color: #6E727E;
    font-weight: 400;
    
  }
  
  /* Slider styles */
  .project-gallery .slick-slider {
    width: 80%;
    margin: 0 auto;
  }
  
  .slick-slide img {
    width: 100%;
    transition: transform 0.3s ease-in-out;
  }
  
  .slick-center img {
    transform: scale(1);
    border: 2px solid #007bff;
    border-radius: 10px;
  }
  
  .slick-slide:not(.slick-center) img {
    transform: scale(0.8); 
    opacity: 0.8; 
  } 
  
  /* Slider item padding */
  .slider-item {
    padding: 10px;
  }
  
  .slick-dots li button:before {
    color: #007bff;
  }

  .lowerSection-title {
    text-align: center;
    font-size: 2rem;
    color: #ffffff; 
    margin-bottom: 50px;
    margin-top: 8vh;

}
  
.lowerSection-content img {
    width: 24px; 
    height: 24px;
    object-fit: contain;
}
  
  .lowerSection-content p {
    font-size: 16px;
    color: #ffffff;
    margin: 0;
  }
  .lowerSection-grid {
    margin-bottom: 70px;
  }


/* Responsive Styles */
@media (max-width: 1024px) {
  
  .lowerSection-grid {
      grid-template-columns: 1fr 1fr;
  }

  .lowerSection-title {
      font-size: 1.8rem;
      margin-top: 6vh;
  }

  .icon {
      font-size: 20px;
  }
}

@media (max-width: 768px) {
  

  .lowerSection-grid {
      grid-template-columns: 1fr;
      gap: 10px;
  }

  .lowerSection-title {
      font-size: 1.5rem;
      margin-top: 4vh;
  }

  .icon {
      font-size: 18px;
  }

  .lowerSection-content p {
      font-size: 14px;
  }
}

@media (max-width: 480px) {
  
  .lowerSection-grid {
      grid-template-columns: 1fr;
  }

  .lowerSection-title {
      font-size: 1.4rem;
      margin-top: 3vh;
  }

  .icon {
      font-size: 16px;
  }

  .lowerSection-content p {
      font-size: 12px;
  }
  .project-header{
    font-size: 30px;
  }
  .project-page p{
    font-size: 1rem;
  }

}